---
Checks: >
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  misc-*,
  -misc-unused-parameters,
  readability-*,
  performance-*,
  portability-*,
  bugprone-*,
  modernize-*,
  clang-analyzer-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-math-missing-parentheses,
  -readability-uppercase-literal-suffix,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -modernize-use-nullptr,

FormatStyle: file

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: "0"
  - key: readability-function-size.LineThreshold
    value: "120"
  - key: readability-function-size.StatementThreshold
    value: "60"
  - key: readability-function-size.BranchThreshold
    value: "25"
  - key: readability-function-size.NestingThreshold
    value: "4"
  - key: readability-function-size.VariableThreshold
    value: "30"
