[submodule "thirdparty/limine"]
	path = thirdparty/limine
	url = https://github.com/limine-bootloader/limine
	branch = v9.x-binary
	shallow = true
[submodule "thirdparty/pl_readline"]
	path = thirdparty/pl_readline
	url = https://github.com/plos-clan/pl_readline
	shallow = true
[submodule "thirdparty/libos-terminal"]
	path = thirdparty/libos-terminal
	url = https://github.com/plos-clan/libos-terminal
	shallow = true
