# Clangd cache
/.cache
/.xmake
/build
/compile_commands.json
/tmp

# Disk cache
*.qcow2

# IDE Config
.idea
.vscode
cmake-build-debug/

# MacOS Cache
.DS_Store

# Compiled Apps
assets/*.elf

# CMake caches
/_deps
/CMakeFiles
/iso_dir
/kmod
/limine_temp
/cmake_install.cmake
/CMakeCache.txt
/CoolPotOS.iso
/cpkrnl_x64.elf
/Makefile

