# Clangd cache
/.cache
/.xmake
/build
/compile_commands.json
/tmp

# Raw assets
/assets/initramfs

# Disk cache
*.qcow2

# IDE config
.idea
.vscode
cmake-build-debug/

# MacOS cache
.DS_Store

# Compiled apps
assets/*.elf

# CMake caches
/_deps
/CMakeFiles
/iso_dir
/kmod
/limine_temp
/cmake_install.cmake
/CMakeCache.txt
/CoolPotOS.iso
/cpkrnl_x64.elf
/Makefile

# AI Agent Cache
.codex
AGENTS.md

# Log files
*.log
