*.s linguist-language=Assembly
*.asm linguist-language=Assembly
*.lua linguist-language=Lua
*.c linguist-language=C
*.h linguist-language=C

*.ld linguist-language=LinkerScript
*.lds linguist-language=LinkerScript

libs/** linguist-vendored
assets/** linguist-vendored
